.modal {
  overflow: hidden;
}
.modal-enter {
  transform: translateX(-1000px);
}
.modal-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}
.modal-exit {
  transform: translateX(0px);
}
.modal-exit-active {
  transform: translateX(-1000px);
  transition:  transform 300ms ease-in;
}
